.col-center {
  float: none;
  margin: 0 auto;
}


.banner-content .text-content span{
  font-weight: 600;
}

.banner-content .text-content span {
  font-weight: 600;
}

.banner-content .title-sub p{
  color: #0b0049;
}
